In [1]:
#BAB 5. Data Structures
#5.1 more on lists
fruits = ['orange','apple','pear','banana','kiwi','apple','banana']

In [2]:
fruits.count('apple')

2

In [5]:
fruits.count('tangerine')

0

In [4]:
fruits.index('banana')

3

In [6]:
fruits.index('banana',4)#find next banana starting at position 4

6

In [9]:
fruits.reverse()
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [11]:
fruits.append('grape')
fruits

['banana',
 'apple',
 'kiwi',
 'banana',
 'pear',
 'apple',
 'orange',
 'grape',
 'grape']

In [13]:
fruits.sort()
fruits

['apple',
 'apple',
 'banana',
 'banana',
 'grape',
 'grape',
 'kiwi',
 'orange',
 'pear']

In [14]:
fruits.pop()

'pear'

In [23]:
#5.1.1 using lists as stacks
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [24]:
stack.pop()

7

In [25]:
stack

[3, 4, 5, 6]

In [26]:
stack.pop()

6

In [27]:
stack.pop()

5

In [28]:
stack

[3, 4]

In [34]:
#5.1.2 using lists as queues
from collections import deque
queue = deque(["Eric","John","Michael"])
queue.append("Terry") #menambahkan Terry
queue.append("Graham") #menambahkan Graham
queue.popleft() #removed elemment from left side (Eric)

'Eric'

In [35]:
queue.popleft() #removed element from left side (John)

'John'

In [36]:
queue

deque(['Michael', 'Terry', 'Graham'])

In [39]:
#5.1.3 list comprehensions
squares = []
for x in range(10):
    squares.append(x**2)
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [45]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:
squares = [x**2 for x in range(10)]
squares #the result is same

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [46]:
[(x,y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [48]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x,y))
combs #same result, different way

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [49]:
vec = [-4,-2,0,2,4]

In [50]:
[x*2 for x in vec] #create new list with the values doubled

[-8, -4, 0, 4, 8]

In [51]:
[x for x in vec if x >= 0] #filter the list to exclude negative numbers

[0, 2, 4]

In [52]:
[abs(x) for x in vec] #return absolute value

[4, 2, 0, 2, 4]

In [55]:
freshfruit = ['   banana','    loganberry     ','passion fruit     ']
[weapon.strip() for weapon in freshfruit] #removes spaces at the beginning & at the end

['banana', 'loganberry', 'passion fruit']

In [56]:
#create a list of 2 tuples like (number, square)
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [57]:
#the tuple must be parenthesized, otherwise an error raised
[x,x**2 for x in range(6)]

SyntaxError: did you forget parentheses around the comprehension target? (933365700.py, line 2)

In [59]:
#flatten a list using a listcomp  with two 'for'
vec = [[1,2,3],[4,5,6],[7,8,9]]
[num for elem in vec for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
from math import pi
[str(round(pi,i)) for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [63]:
#5.1.4 nested list comprehensions
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [64]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [67]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [70]:
transposed = []
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [71]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [73]:
#5.2 the del statements
a = [-1, 1, 66.25, 333, 333, 1234.5]
a

[-1, 1, 66.25, 333, 333, 1234.5]

In [75]:
del a[0]
a

[66.25, 333, 333, 1234.5]

In [77]:
del  a
a

NameError: name 'a' is not defined

In [78]:
#5.3 tuples and sequences
t = 12345, 54321, 'hello!'
t[0]

12345

In [79]:
t

(12345, 54321, 'hello!')

In [80]:
#nested tuples
u = t, (1,2,3,4,5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [82]:
#tuples are immutable
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [84]:
#but they can contain mutable objects:
v = ([1,2,3],[3,2,1])
v

([1, 2, 3], [3, 2, 1])

In [86]:
empty = ()
singleton = 'hello', #<-- note trailing comma
len(empty)

0

In [87]:
len(singleton)

1

In [88]:
singleton

('hello',)

In [91]:
#5.4 sets
basket = {'apple','orange','apple','pear','orange','banana'}
print(basket) #duplicate value will be removed

{'pear', 'apple', 'orange', 'banana'}

In [92]:
'orange' in basket #ensure the value in basket

True

In [93]:
'crabgrass' in basket

False

In [94]:
# Demonstrate set operations on unique letters from two words
a = set('abracadabra')
b = set('alcazam')
a #return unique letters in a

{'a', 'b', 'c', 'd', 'r'}

In [96]:
a - b #letters in a but not in b

{'b', 'd', 'r'}

In [98]:
a | b #all of  letters in a or b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [100]:
a & b #letters in both a and b

{'a', 'c'}

In [102]:
a ^ b #letters in a or b but not in both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [2]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

In [15]:
#5.5 Dictioneries
tel = {'jack':4098,'sape':4139}
tel ['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [14]:
tel['jack']

4098

In [16]:
del tel['sape']

In [19]:
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [21]:
list(tel)

['jack', 'guido', 'irv']

In [23]:
sorted(tel)

['guido', 'irv', 'jack']

In [25]:
'guido' in tel

True

In [27]:
'jack' not in tel

False

In [29]:
dict([('sape',4139),('guido',4127),('jack',4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [31]:
{x: x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

In [33]:
dict(sape=4139,guido=4127,jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [40]:
#5.6 Looping Techiniques
knights = {'gallahand':'the pure', 'robin':'the brave'}
for k, v in knights.items():
    print(k, v)

gallahand the pure
robin the brave

In [44]:
for i, v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [46]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [48]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

In [50]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [52]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [56]:
import math
raw_data = [56.2, float('NaN'), 51.7,55.3,52.5,float('NaN'),47.81]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
        
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.81]

In [59]:
#5.7 More on Conditions
string1, string2, string3 = '', 'Trondheim', 'Hammer Dance'
non_null = string1 or string2 or string3
non_null

'Trondheim'

In [65]:
#5.8 Comparing sequences and other types
(1, 2, 3)              < (1, 2, 4)

True

In [67]:
[1, 2, 3]              < [1, 2, 4]

True

In [70]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [75]:
(1, 2, 3, 4)           < (1, 2, 4)

False

In [78]:
(1, 2)                 < (1, 2, -1)

True

In [80]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [81]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True